<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<bean class="com.auribox.model.Message" id="message" destroy-method="closeMethod">
	<property name="header" value="Spring Header"/>
	<property name="payload" value="Spring payload"/>
</bean>
<bean class="com.auribox.model.Message" id="message2" >
	<property name="header" value="Spring Header"/>
	<property name="payload" value="Spring payload"/>
</bean>
<bean class="com.auribox.model.Message" id="message3" >
	<constructor-arg name="header" value = "header by Constructor ..."/>
</bean>
<bean class="com.auribox.model.Message" id="message4" init-method="initMethod" >
	<constructor-arg name="header" value = "header by Constructor ..."/>
</bean>

</beans>
